import streamlit as st
import pandas as pd

st.set_page_config(
    page_title="AI Healthcare Intelligence Platform",
    page_icon="🏥",
    layout="wide"
)

st.markdown("""
<style>
.hero{
    text-align:center;
    padding:20px;
}
.hero h1{
    color:#00E5FF;
    font-size:52px;
}
.hero p{
    color:#d1d5db;
    font-size:20px;
}

.glass{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    padding:20px;
}
</style>
""", unsafe_allow_html=True)

st.markdown("""
<div class="hero">
<h1>🏥 AI Healthcare Intelligence Platform</h1>
<p>Predict • Analyze • Optimize • Save

